
.footer{
    position: relative;
    background: rgba(43, 30, 48, 0.1);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    font-family: inherit;
    border-radius: 1.5rem;


   
} 
 .footer::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 1.5rem;
    animation: pulse 2s infinite ease-in-out;
    padding: 0.1rem; 
    background: linear-gradient(-35deg, rgba(13, 154, 108, 0.7), rgba(166, 5, 157, 0.7));
    border-bottom-left-radius: 0;
    border-bottom-right-radius:0; 
    -webkit-mask: linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
     -webkit-mask-composite: xor;
    mask-composite: exclude; 
    -webkit-mask-composite: exclude;
    mask-composite: exclude; 
  } 

